body {
    margin: 0;
}
.header {
    background-color: black;
    width: 100%;
} 
.block1 {
    display: inline-block;
    margin-left: 15%;
}
.block1 img {
    padding: 10px 0;
    width: 150px;
}
.block2 {   
    color: white;
    width: 320px;
    display: inline-block;
    position: relative;
    top: -15px;
    margin-left: 10px;
}
.block3{
    float: right;
    margin-right: 15%;
    padding-top: 12px;
}
.block3 img {
    width: 30px
   }




   
